{% extends "base.html" %}
{% load blog_tag %}
{% load staticfiles %}
{% block content %}
{#{% block title %}{% page_attribute "page_title" %}{% endblock title %}#}

<div id="home" class="banner-area">
    <div class="bg-image bg-parallax overlay mob" style="background-image:url({% static 'img/jguard19.jpg' %})"></div>
    <div class="home-wrapper">
        <div class="col-md-10 col-md-offset-1 text-center">
            <div class="home-content">
                <h2 class="white-text newfont">Welcome To</h2>
                <h2 class="white-text newfont">J-Guard Cleaning!</h2>
{#                <h4 class="white-text lead">Nec solet elaboraret eu, ea usu vidit accusam. Ea per legimus singulis percipitur. Graecis ullamcorper nec ex, vix euismod detraxit voluptaria at.</h4>#}
                <h4 class="white-text lead">A complete cleaning solution for your home, office and vehicles</h4>
                <a href="tel:8075317300"><button class="main-button yellow greyfont">Call Us : 8075317300</button></a>
            </div>
        </div>

    </div>
</div>
<div id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="section-header text-center">
                <h4 class="sub-title">About Us</h4>
                <h2 class="title">J-Guard</h2>
            </div>
            <div class="col-md-5">
                <h4 class="lead">Welcome To J-Guard Cleaning.A complete cleaning solution for your home, office and vehicles.</h4>
            </div>

            <div class="col-md-7">
                <p>We at J-Guard, are a team of passionate professionals aimed at delivering best service to your belongings that seek assistance from us.
                    We love our job as much as you love your belongings!Once handed over to us, we make sure that the best treatment is provided.</p>
            </div>
            <div class="col-md-12">
                <div id="Gallery" class="owl-carousel owl-theme">
                    <div class="Gallery-item">
                        <div class="Gallery-img" style="background-image:url({% static 'img/jguard21.jpg' %})"></div>
                    </div>
                    <div class="Gallery-item">
                        <div class="Gallery-img" style="background-image:url({% static 'img/jguard15.jpg' %})"></div>
                        <div class="Gallery-img" style="background-image:url({% static 'img/jguard1.jpg' %})"></div>
                    </div>
                    <div class="Gallery-item">
                        <div class="item-column">
                            <div class="Gallery-img" style="background-image:url({% static 'img/jguard13.jpg' %})"></div>
                            <div class="Gallery-img" style="background-image:url({% static 'img/sofa2.jpg' %})"></div>
                        </div>
                        <div class="item-column">
                            <div class="Gallery-img" style="background-image:url({% static 'img/jguard11.jpg' %})"></div>
                            <div class="Gallery-img" style="background-image:url({% static 'img/jguard10.jpg' %})"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="services" class="section">
        <div class="bg-image bg-parallax overlay" style="background-image:url({% static 'img/jguard8.jpg' %})"></div>
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <h4 class="sub-title">Discover</h4>
                    <h2 class="title white-text">Our Services</h2>
                </div>
                <ul class="menu-nav">
                    <li class="active yellow"><a class="yellow" data-toggle="tab" href="#menu1">One<br>Time</a></li>
                    <li><a data-toggle="tab" href="#menu2">Contract<br>Based</a></li>
                    <li><a data-toggle="tab" href="#menu3">Maint-<br>enance</a></li>
{#                    <li><a data-toggle="tab" href="#menu1">Others</a></li>#}
                </ul>

                <div id="menu-content" class="tab-content thediv">
                    <div id="menu1" class="tab-pane fade in active yellow">
                        <div class="col-md-12">
                            <div class="single-dish">
                                <div class="single-dish-heading">
                                    <h4 class="name">Basic Cleaning</h4>
                                    <h4 class="price"><a href="tel:8075317300"><i class="fa fa-phone"></i></a></h4>
                                </div>
                                <p>give us a call to know more</p>
                            </div>
                            <div class="single-dish">
                                <div class="single-dish-heading">
                                    <h4 class="name">Deep Cleaning</h4>
                                    <h4 class="price"><a href="tel:8075317300"><i class="fa fa-phone"></i></a></h4>

                                </div>
                                <p>give us a call to know more</p>
                            </div>
                            <div class="single-dish">
                                <div class="single-dish-heading">
                                    <h4 class="name">Spring Cleaning</h4>
                                    <h4 class="price"><a href="tel:8075317300"><i class="fa fa-phone"></i></a></h4>
                                </div>
                                <p>give us a call to know more</p>
                            </div>
                        </div>


                    </div>
                    <div id="menu2" class="tab-pane fade in">
                        <div class="col-md-12">
                            <div class="single-dish">
                                <div class="single-dish-heading">
                                    <h4 class="name">Monthly Cleaning</h4>
                                    <h4 class="price"><a href="tel:8075317300"><i class="fa fa-phone"></i></a></h4>
                                </div>
                                <p>give us a call to know more</p>
                            </div>
                            <div class="single-dish">
                                <div class="single-dish-heading">
                                    <h4 class="name">Quaterly Cleaning</h4>
                                    <h4 class="price"><a href="tel:8075317300"><i class="fa fa-phone"></i></a></h4>

                                </div>
                                <p>give us a call to know more</p>
                            </div>
                            <div class="single-dish">
                                <div class="single-dish-heading">
                                    <h4 class="name">Yearly Cleaning</h4>
                                    <h4 class="price"><a href="tel:8075317300"><i class="fa fa-phone"></i></a></h4>
                                </div>
                                <p>give us a call to know more</p>
                            </div>
                        </div>

{#                        <div class="col-md-6">#}

{#                        </div>#}
                    </div>
                    <div id="menu3" class="tab-pane fade in">
                        <div class="col-md-12">
                            <div class="single-dish">
                                <div class="single-dish-heading">
                                    <h4 class="name">Electrical Maintenance</h4>
                                    <h4 class="price"><a href="tel:8075317300"><i class="fa fa-phone"></i></a></h4>
                                </div>
                                <p>give us a call to know more</p>
                            </div>
                            <div class="single-dish">
                                <div class="single-dish-heading">
                                    <h4 class="name">Plumbing Maintenance</h4>
                                    <h4 class="price"><a href="tel:8075317300"><i class="fa fa-phone"></i></a></h4>

                                </div>
                                <p>give us a call to know more</p>
                            </div>
                            <div class="single-dish">
                                <div class="single-dish-heading">
                                    <h4 class="name">Lawn Maintenance</h4>
                                    <h4 class="price"><a href="tel:8075317300"><i class="fa fa-phone"></i></a></h4>
                                </div>
                                <p>give us a call to know more</p>
                            </div>
                        </div>

{#                        <div class="col-md-6">#}
{##}
{#                        </div>#}
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div id="write" class="section">
        <div class="bg-image" style="background-image:url({% static 'img/jguard17.jpg' %})"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-1 col-sm-10 col-sm-offset-1">
                    <form class="reserve-form row contact_form" novalidate action="{% url 'home' %}" method="post">
                        <div class="section-header text-center">
                            {#<h4 class="sub-title">Write</h4>#}
                            <h2 class="title white-text">Write To Us</h2>
                        </div>

                        <div class="col-md-10">

                            {% csrf_token %}{{ form.non_field_errors }}
                            {{ form.name.errors }}{{ form.name }}<br>
                            {{ form.email.errors }}{{ form.email }}<br>
                            {{ form.phone.errors }}{{ form.phone }}<br>
                            {{ form.message.errors }}{{ form.message }}<br>

                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="main-button">Send</button>
{#                            <button type="submit" class="form_submission">Submit</button>#}
                        <h4 class="white-text lead">{% for message in messages %}{{ message }}{% endfor %}</h4>

                        </div>
                    </form>
                </div>

                <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="opening-time row">
                        <div class="section-header text-center">
                            <h2 class="title white-text">Working Hours</h2>
                        </div>
                        <ul>
                            <li>
                                <h4 class="day">Sunday</h4>
                                <h4 class="hours">24 hours</h4>
                            </li>
                            <li>
                                <h4 class="day">Monday</h4>
                                <h4 class="hours">24 hours</h4>
                            </li>
                            <li>
                                <h4 class="day">Tuesday</h4>
                                <h4 class="hours">24 hours</h4>
                            </li>
                            <li>
                                <h4 class="day">Wednesday</h4>
                                <h4 class="hours">24 hours</h4>
                            </li>
                            <li>
                                <h4 class="day">Thursday</h4>
                                <h4 class="hours">24 hours</h4>
                            </li>
                            <li>
                                <h4 class="day">Friday</h4>
                                <h4 class="hours">24 hours</h4>
                            </li>
                            <li>
                                <h4 class="day">Saturday</h4>
                                <h4 class="hours">24 hours</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div id="events" class="section">

<div class="container">
<div class="row">
<div class="section-header text-center">

{#<h2 class="title">Recent Posts</h2>#}

</div>

{#    {% post_list as posts %}#}
{#    {% for post in posts %}#}
{#    <div class="col-md-4">#}
{#        <div class="post">#}
{#            <a class="post-img" href="blog-post.html"><img src={{ post.image.url }} alt=""></a>#}
{#            <div class="post-body">#}
{#                <div class="post-meta">#}
{#                    <a class="post-category cat-2" href="category.html">{{ post.category.name }}</a>#}
{#                    <span class="post-date">March 27, 2018</span>#}
{#                </div>#}
{#                <h3 class="post-title"><a href="blog-post.html">{{ post.title }}</a></h3>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    {% endfor %}#}
</div>
</div>

</div>


    <div id="contact" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-7">
                    <div class="section-header">
                        <h4 class="sub-title">Contact Us</h4>
                        <h2 class="title">Get In Touch</h2>
                    </div>
                    <div class="contact-content">
                        <p>Feel Free To Contact Us Anytime Anywhere!</p>
                        <h3>Tel: <a href="tel:8075317300">8075317300</a></h3>
                        <p>Address: J-Guard, Opp. Vennala UP School, Vennala-682028</p>
                        <p>Email: <a href="#">jguard.services@gmail.com</a></p>
                        <ul class="list-inline">
                            <li><p>Follow Us:</p></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
{#                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="map"></div>
    </div>
{% endblock content %}