.newfont {
	font-family: "Times New Roman", Times, serif;
}
}
/*.yellow {*/
	/*background-color:#f2e600;*/
/*}*/
/*.yellowfont {*/
	/*color:#f2e600;*/
/*}*/
/*.greyfont {*/
	/*color:#56565b;*/
/*}*/

.mob{
	object-fit: cover;
	background-size: contain;
}